.content-13.subscribe-form {
    color: #A1A9B1;
    padding-bottom: 40px;
    padding-top: 40px;
}
.content-13 {
    position: relative;
}
.bg-turquoise {
    background-color: #1ABC9C;
}
.footer-section {
    z-index: 0 !important;
}
.footer-2 {
    color: #BDC3C7;
    line-height: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.bg-midnight-blue {
    background-color: #2C3E50;
}
.content-13 {
  position: relative;
}
.content-13.subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #a1a9b1;
}
.content-13.subscribe-form .col-sm-4 {
  text-align: right;
}
@media (max-width: 767px) {
  .content-13.subscribe-form .col-sm-4 {
    width: auto;
    display: inline-block;
    float: right;
    text-align: center;
  }
}
@media (max-width: 668px) {
  .content-13.subscribe-form .col-sm-4 {
    display: block;
    float: none;
  }
}
.content-13.subscribe-form form {
  margin: 0;
  position: relative;
}
@media (max-width: 767px) {
  .content-13.subscribe-form form .col-sm-8 {
    width: 65%;
    display: inline-block;
    float: left;
  }
}
@media (max-width: 668px) {
  .content-13.subscribe-form form .col-sm-8 {
    width: auto;
    display: block;
    float: none;
    text-align: center;
  }
}
.content-13.subscribe-form input[type="text"],
.content-13.subscribe-form input[type="email"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.content-13.subscribe-form input[type="text"]::-moz-placeholder,
.content-13.subscribe-form input[type="email"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"].placeholder,
.content-13.subscribe-form input[type="email"].placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]::-moz-placeholder,
.content-13.subscribe-form input[type="email"]::-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-13.subscribe-form .btn {
  margin-top: 8px;
  width: 220px;
  max-width: 100%;
}
.content-13.subscribe-form .btn.btn-primary {
  background: #16a085;
}
.content-13.subscribe-form .btn.btn-primary:hover,
.content-13.subscribe-form .btn.btn-primary:focus {
  background: #24deb4;
}
.content-13.subscribe-form .btn.btn-primary:active,
.content-13.subscribe-form .btn.btn-primary.active {
  background: #138871;
}
@media (max-width: 480px) {
  .content-13.subscribe-form input[type="text"],
  .content-13.subscribe-form input[type="email"],
  .content-13.subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }
}
@media (max-width: 688px) {
  .content-13.subscribe-form input[type="text"],
  .content-13.subscribe-form input[type="email"],
  .content-13.subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* footer */
/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdc3c7;
  line-height: 25px;
}
.footer-2 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #979c9f;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
.footer-2 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #979c9f;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-2 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-2 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-2 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-2 .social-btns > *:hover > * {
  top: -100%;
}
.footer-2 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
  text-align: center;
}
@media (max-width: 991px) {
  .footer-2 .additional-links {
    clear: both;
    text-align: left;
  }
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
    *zoom: 1;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-2 .social-btns {
    margin: 25px 0 10px;
  }
}
body > section, header, footer {
    -moz-box-sizing: border-box;
    position: relative;
}
.footer-section {
    z-index: 0 !important;
}
.container {
    position: relative;
    z-index: 2;
}